@font-face {
    font-family: Roboto Bold;
    src: url("/app/font/RobotoTTF/Roboto-Bold.ttf");
}
@font-face {
    font-family: Roboto Medium;
    src: url("/app/font/RobotoTTF/Roboto-Medium.ttf");
}
@font-face{
	font-family: Roboto Light;
    src: url("/app/font/RobotoTTF/Roboto-Light.ttf");
}
@font-face{
	font-family: Roboto Thin;
    src: url("/app/font/RobotoTTF/Roboto-Thin.ttf");
}
@font-face{
	font-family: Roboto ThinItalic;
    src: url("/app/font/RobotoTTF/Roboto-ThinItalic.ttf");
}

// Fonts
$i: !important;
$roboto_b: 'Roboto Bold', serif;
$roboto_m: 'Roboto Medium', serif;
$roboto_l: 'Roboto Light', serif;
$roboto_t: 'Roboto Thin', serif;
$roboto_ti: 'Roboto ThinItalic', serif;

// Colors
$brown: #424242;
$light-brown: #C5BD99;
$white: #FFFFFF;
$dark-brown:  #701112;

//Size
$small: 768px;
$medium: 992px;
$large: 1200px;

body{
	// background-image: url("/app/images/wallpaper.png");
	// background-size: cover;
	height: 100%;
	overflow-x: hidden;
	overflow-y: scroll;  
}

.btn:focus {
	outline: none $i;
}

.nav>li>a:hover, .nav>li>a:focus{
	background-color: #111 $i;
}

.cf{
	margin: 0 $i;
	padding: 0 $i; 
	width: 100%;
	height: 100%;
}

a {
  outline: 0 $i;
  color: #B0B1A1;
}

.nav-desktop{
	background-color: #3F3830 $i;
	color: #B0B1A1;
	z-index: 1; //Stay on top
	padding: 0 10px 0 10px;
	border-bottom: 2px solid #0F0D0B;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 2; /* Stay on top */
    top: 0;
    right: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.block-left{
	width: 25%;
	position: absolute;
	left: 0;
	top: 51px;
	z-index: 0;
	background-color: #3F3830;
	color: #FFF;
	overflow-y: scroll;
	overflow-x: hidden; 
	padding: 0 $i;
}


// Mini todo card
//===============
.todo-card{
	width: 100%;
	height: 80px;
	margin: 0;
	padding: 0;
	border-bottom: 1px solid black;
	// box-shadow: 10px 10px 5px #888888;
}

.main{
	width: 80%;
	height: 80px;
	float: left;
}

.title{
	width: 100%;
	height: 60px;
}

.title h3{
	font-family: $roboto_m;
	font-size: 24pt;
	height: 60px;
	overflow: hidden;
	margin-top: 0;
	padding: 10px 0 0 10px;
	line-height: 1.5;
}

.todo-progress{
	width: 100%;
	height: 20px;
}

.todo-progress p{
	font-family: $roboto_l;
	font-size: 12pt;
	height: 20px;
	overflow: hidden;
	padding: 0 0 0 10px;
}

.info{
	width: 20%;
	height: 80px;
	float: left;
	padding: 0;
}

.tag{
	height: 40px;
	padding: 0 5px 0 0;
}

.tag p{
	font-family: $roboto_l;
	font-size: 12pt;
}

.date{
	height: 40px;
	padding: 20px 5px 0 0;
}

.date p{
	font-family: $roboto_l;
	font-size: 11pt;
}

/* ============ Mobile ============== */

.nav-mobile{
	background-color: #111 $i;
	z-index: 1;
	padding: 0 10px 0 10px;
	border-bottom: 2px solid #0F0D0B;
}

.brand{
	font-family: $roboto_l;
	font-size: 24pt;
	height: 60px;
	color: #FFF;
	padding: 0 15px 0 15px;
	line-height: 1.5;
	display: none;
}

.navbar-toggle{
	float: left $i;
	// background-color: #111 $i;
}

.icon-bar{
	background-color: #fff $i;
	margin: 5px 0 5px 0;
}

.search{
	float: right;
	border: none;
	color: #fff;
	background-color: #111;
}

.search:hover{
	// color: #fff;
	// background-color: rgba(222, 225, 229, 0.4);
	// border-radius: 55px;
}


/* The side navigation menu */
.sidenav-mobile {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 2; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    overflow-y: scroll; /* Anable vertical scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav-mobile a {
    padding: 8px 5px 6px 12px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    cursor: pointer;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav-mobile a:hover, .offcanvas a:focus{
    color: #f1f1f1;
    cursor: pointer;
}

/* Position and style the close button (top right corner) */
.sidenav-mobile .closebtn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 36px;
    // outline: 1px solid red $i;
}

.user-name{
	position: absolute;
    top: 20px;
    left: 10px;
    font-family: $roboto_m;
	font-size: 18pt;
	color: #FFF;
	height: 27px;
	width: 200px;
	// outline: 1px solid red;
}

.user-email{
	position: absolute;
    top: 50px;
    left: 10px;
    font-family: $roboto_l;
	font-size: 9pt;
	color: #FFF;
	height: 15px;
	width: 200px;
	// outline: 1px solid red;
}

/* Inside SidenavMobile */

.nav>li>a{
	padding: 10px 15px 10px 10px $i;
}

.dd{
	width: 250px;
	border-bottom: 1px solid #f1f1f1;
	margin: 5px 0 0 0;
}

.gly{
	font-size: 15px;
}

.glyp{
	font-size: 11px;
}

.caret{
	text-align: right;
	position: absolute;
	top: 20px;
	right: 10px;
}

.text{
	font-family: $roboto_l;
	font-size: 12pt;
	width: 200px;
	overflow: hidden;
}

.navbar-nav{
	margin: 5px 0 0 0 $i;
}

.dm{
	margin: 0 $i;
	width: 250px;
	padding: 0 0 0 10px;
	background-color: red;
	overflow: hidden;
}

.l-style{
	font-family: $roboto_l;
	font-size: 12pt;
	color: #FFF;
	width: 200px;
	overflow: hidden;
}

.addNew{
	color: #FFF $i;
	padding: 0 0 5px 0 $i;
}

/* Add new list modal*/

.modal{
	top: 100px $i;
}

.modal-content{
	border-radius: 0 $i;
	border: 1px solid rgba(0, 0, 0, 0.5) $i;
}

.modal-header{
	padding: 5px $i;
	background-color: #111;
}

.close{
	font-size: 30px $i;
	text-shadow: none $i;
	color: #FFF $i;
}

.modal-title{
	font-family: $roboto_l;
	font-size: 18pt;
	color: #FFF;
}

.modal-body{
	padding: 5px $i;
}

.l-title{
	font-family: $roboto_l;
	font-size: 12pt;
}

.mbt{
	border-radius: 0 $i;
	font-family: $roboto_l;
	font-size: 14px;
	background-color: #111 $i;
	box-shadow: 0px 5px 15px #888888;
	color: #FFF $i;
}

/* Todo mobile list*/

.mobile-list{
	width: 100%;
	position: absolute;
	top: 65px;
	z-index: 0;
	overflow-y: scroll;
	overflow-x: hidden; 
	padding: 0 $i;
}

/* Add new todo circle */

.circle{
	position: absolute;
	right: 10px;
	bottom: 15px;
	height: 50px;
	width: 50px;
	border-radius: 50px;
	background-color: rgba(0, 0, 0, 0.8);
	color: #FFF;
	box-shadow: 0px 5px 15px #888888;
	padding: 10px 10px 10px 15px; 
}

.plus{
	font-size: 24px;
	display: block;
}

/* Add new todo view */

.new-todo{
	position: absolute;
	top: 65px;
	bottom: 0;
	width: 100%;
	z-index: 0;
	overflow-x: hidden;
	padding: 10px 0 0 0;
	// background-color: #ccc;
}

.t-title{
	font-family: $roboto_m;
	font-size: 14pt;
	margin-bottom: 0 $i;
}

.my-form-control{
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 0px;
	font-size: 14px;
	line-height: 1.42;
	border-top: none $i;
	border-right: none $i;
	border-left: none $i;
	border-bottom: 2px solid #111;
	// box-shadow: 0px 5px 15px #888888;
}

.cbt{
	margin: 10px 0 10px 0;
	float: right;
	border-radius: 0 $i;
	font-family: $roboto_l;
	font-size: 14px;
	background-color: #111 $i;
	box-shadow: 0px 5px 15px #888888;
	color: #FFF $i;
}

/* Add Adons*/

// .link-bt{
// 	width: 100%;
// 	border-radius: 0 $i;
// 	font-family: $roboto_l;
// 	font-size: 14px;
// 	background-color: #111 $i;
// 	box-shadow: 0px 5px 15px #888888;
// 	color: #FFF $i;
// 	padding: 6px 5px 6px 0px $i;
// }

// .inner-addon {
//   position: relative;
// }

// .inner-addon .glyphicon {
//   position: absolute;
//   padding: 10px;
//   font-size: 18px;
//   color: #FFF;
//   pointer-events: none;
//   text-align: center;
// }

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    max-width: 100%;
    font-size: 1.25rem;
    /* 20px */
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    /* 10px 20px */
}

// HIDE STANDART INPUT
.no-js .inputfile + label {
    display: none;
}

// TEXT-FOCUS
.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

// SVG
.inputfile + label svg {
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    /* 4px */
    margin-right: 0.25em;
    /* 4px */
}

// TEXT
.inputfile-1 + label {
    color: #f1e5e6;
    background-color: #111;
    width: 100%;
    font-size: 14px;
    padding: 10px;
    box-shadow: 0px 5px 15px #888888;
}

// TEXT-HOVER
.inputfile-1:focus + label,
.inputfile-1.has-focus + label,
.inputfile-1 + label:hover {
    background-color: #111;
}

.d-title{
	font-family: $roboto_m;
	font-size: 14pt;
	padding: 10px 0 0 0;
	margin-bottom: 0 $i;
}

.date-p{
	padding: 0 15px 0 0 $i;
}

#date_deadline, #date_assigned{
	padding: 10px 0 0px 5px $i;
}

.sel{
	padding: 0 15px 0 0 $i;
}

.select{
	width: 100% $i;
	height: 25px $i;
}









// .block-left{
// 	width: 25%;
// 	position: absolute;
// 	left: 0;
// 	top: 51px;
// 	z-index: 0;
// 	background-color: #3F3830;
// 	color: #FFF;
// 	overflow-y: scroll;
// 	overflow-x: hidden; 
// 	padding: 0 $i;
// }

























