@font-face {
  font-family: Roboto Bold;
  src: url("/app/font/RobotoTTF/Roboto-Bold.ttf");
}

@font-face {
  font-family: Roboto Medium;
  src: url("/app/font/RobotoTTF/Roboto-Medium.ttf");
}

@font-face {
  font-family: Roboto Light;
  src: url("/app/font/RobotoTTF/Roboto-Light.ttf");
}

@font-face {
  font-family: Roboto Thin;
  src: url("/app/font/RobotoTTF/Roboto-Thin.ttf");
}

@font-face {
  font-family: Roboto ThinItalic;
  src: url("/app/font/RobotoTTF/Roboto-ThinItalic.ttf");
}

body {
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.btn:focus {
  outline: none !important;
}

.nav > li > a:hover, .nav > li > a:focus {
  background-color: #111 !important;
}

.cf {
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
  height: 100%;
}

a {
  outline: 0 !important;
  color: #B0B1A1;
}

.nav-desktop {
  background-color: #3F3830 !important;
  color: #B0B1A1;
  z-index: 1;
  padding: 0 10px 0 10px;
  border-bottom: 2px solid #0F0D0B;
}

/* The side navigation menu */
.sidenav {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 2;
  /* Stay on top */
  top: 0;
  right: 0;
  background-color: #111;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  -webkit-transition: 0.5s;
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.block-left {
  width: 25%;
  position: absolute;
  left: 0;
  top: 51px;
  z-index: 0;
  background-color: #3F3830;
  color: #FFF;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0 !important;
}

.todo-card {
  width: 100%;
  height: 80px;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid black;
}

.main {
  width: 80%;
  height: 80px;
  float: left;
}

.title {
  width: 100%;
  height: 60px;
}

.title h3 {
  font-family: "Roboto Medium", serif;
  font-size: 24pt;
  height: 60px;
  overflow: hidden;
  margin-top: 0;
  padding: 10px 0 0 10px;
  line-height: 1.5;
}

.todo-progress {
  width: 100%;
  height: 20px;
}

.todo-progress p {
  font-family: "Roboto Light", serif;
  font-size: 12pt;
  height: 20px;
  overflow: hidden;
  padding: 0 0 0 10px;
}

.info {
  width: 20%;
  height: 80px;
  float: left;
  padding: 0;
}

.tag {
  height: 40px;
  padding: 0 5px 0 0;
}

.tag p {
  font-family: "Roboto Light", serif;
  font-size: 12pt;
}

.date {
  height: 40px;
  padding: 20px 5px 0 0;
}

.date p {
  font-family: "Roboto Light", serif;
  font-size: 11pt;
}

/* ============ Mobile ============== */
.nav-mobile {
  background-color: #111 !important;
  z-index: 1;
  padding: 0 10px 0 10px;
  border-bottom: 2px solid #0F0D0B;
}

.brand {
  font-family: "Roboto Light", serif;
  font-size: 24pt;
  height: 60px;
  color: #FFF;
  padding: 0 15px 0 15px;
  line-height: 1.5;
  display: none;
}

.navbar-toggle {
  float: left !important;
}

.icon-bar {
  background-color: #fff !important;
  margin: 5px 0 5px 0;
}

.search {
  float: right;
  border: none;
  color: #fff;
  background-color: #111;
}

/* The side navigation menu */
.sidenav-mobile {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 2;
  /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  overflow-y: scroll;
  /* Anable vertical scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  -webkit-transition: 0.5s;
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav-mobile a {
  padding: 8px 5px 6px 12px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  cursor: pointer;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav-mobile a:hover, .offcanvas a:focus {
  color: #f1f1f1;
  cursor: pointer;
}

/* Position and style the close button (top right corner) */
.sidenav-mobile .closebtn {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 36px;
}

.user-name {
  position: absolute;
  top: 20px;
  left: 10px;
  font-family: "Roboto Medium", serif;
  font-size: 18pt;
  color: #FFF;
  height: 27px;
  width: 200px;
}

.user-email {
  position: absolute;
  top: 50px;
  left: 10px;
  font-family: "Roboto Light", serif;
  font-size: 9pt;
  color: #FFF;
  height: 15px;
  width: 200px;
}

/* Inside SidenavMobile */
.nav > li > a {
  padding: 10px 15px 10px 10px !important;
}

.dd {
  width: 250px;
  border-bottom: 1px solid #f1f1f1;
  margin: 5px 0 0 0;
}

.gly {
  font-size: 15px;
}

.glyp {
  font-size: 11px;
}

.caret {
  text-align: right;
  position: absolute;
  top: 20px;
  right: 10px;
}

.text {
  font-family: "Roboto Light", serif;
  font-size: 12pt;
  width: 200px;
  overflow: hidden;
}

.navbar-nav {
  margin: 5px 0 0 0 !important;
}

.dm {
  margin: 0 !important;
  width: 250px;
  padding: 0 0 0 10px;
  background-color: red;
  overflow: hidden;
}

.l-style {
  font-family: "Roboto Light", serif;
  font-size: 12pt;
  color: #FFF;
  width: 200px;
  overflow: hidden;
}

.addNew {
  color: #FFF !important;
  padding: 0 0 5px 0 !important;
}

/* Add new list modal*/
.modal {
  top: 100px !important;
}

.modal-content {
  -webkit-border-radius: 0 !important;
          border-radius: 0 !important;
  border: 1px solid rgba(0, 0, 0, 0.5) !important;
}

.modal-header {
  padding: 5px !important;
  background-color: #111;
}

.close {
  font-size: 30px !important;
  text-shadow: none !important;
  color: #FFF !important;
}

.modal-title {
  font-family: "Roboto Light", serif;
  font-size: 18pt;
  color: #FFF;
}

.modal-body {
  padding: 5px !important;
}

.l-title {
  font-family: "Roboto Light", serif;
  font-size: 12pt;
}

.mbt {
  -webkit-border-radius: 0 !important;
          border-radius: 0 !important;
  font-family: "Roboto Light", serif;
  font-size: 14px;
  background-color: #111 !important;
  -webkit-box-shadow: 0px 5px 15px #888888;
          box-shadow: 0px 5px 15px #888888;
  color: #FFF !important;
}

/* Todo mobile list*/
.mobile-list {
  width: 100%;
  position: absolute;
  top: 65px;
  z-index: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0 !important;
}

/* Add new todo circle */
.circle {
  position: absolute;
  right: 10px;
  bottom: 15px;
  height: 50px;
  width: 50px;
  -webkit-border-radius: 50px;
          border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #FFF;
  -webkit-box-shadow: 0px 5px 15px #888888;
          box-shadow: 0px 5px 15px #888888;
  padding: 10px 10px 10px 15px;
}

.plus {
  font-size: 24px;
  display: block;
}

/* Add new todo view */
.new-todo {
  position: absolute;
  top: 65px;
  bottom: 0;
  width: 100%;
  z-index: 0;
  overflow-x: hidden;
  padding: 10px 0 0 0;
}

.t-title {
  font-family: "Roboto Medium", serif;
  font-size: 14pt;
  margin-bottom: 0 !important;
}

.my-form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 0px;
  font-size: 14px;
  line-height: 1.42;
  border-top: none !important;
  border-right: none !important;
  border-left: none !important;
  border-bottom: 2px solid #111;
}

.cbt {
  margin: 10px 0 10px 0;
  float: right;
  -webkit-border-radius: 0 !important;
          border-radius: 0 !important;
  font-family: "Roboto Light", serif;
  font-size: 14px;
  background-color: #111 !important;
  -webkit-box-shadow: 0px 5px 15px #888888;
          box-shadow: 0px 5px 15px #888888;
  color: #FFF !important;
}

/* Add Adons*/
.link-bt {
  width: 100%;
  -webkit-border-radius: 0 !important;
          border-radius: 0 !important;
  font-family: "Roboto Light", serif;
  font-size: 14px;
  background-color: #111 !important;
  -webkit-box-shadow: 0px 5px 15px #888888;
          box-shadow: 0px 5px 15px #888888;
  color: #FFF !important;
  padding: 6px 5px 6px 0px !important;
}

/* enable absolute positioning */
.inner-addon {
  position: relative;
}

/* style glyph */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  font-size: 18px;
  color: #FFF;
  pointer-events: none;
  text-align: center;
}

.d-title {
  font-family: "Roboto Medium", serif;
  font-size: 14pt;
  padding: 10px 0 0 0;
  margin-bottom: 0 !important;
}

.date-p {
  padding: 0 15px 0 0 !important;
}

#date_deadline, #date_assigned {
  padding: 10px 0 0px 5px !important;
}

.sel {
  padding: 0 15px 0 0 !important;
}

.select {
  width: 100% !important;
  height: 25px !important;
}
