<div class="modal fade" id="addNewCard" tabindex="-1" role="dialog" aria-labelledby="newCard">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="newCard">Add new card</h4>
      </div>
      <div class="modal-body">
      	<ng-include src="'../../app/templates/newCardInfo.html'"></ng-include>
      </div>
    </div>
  </div>
</div>