<div class="modal fade bs-example-modal-md" id="success" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-body" align="center">
        <img src="../../TODO/app/images/success.png" alt="success" height="50px" width="50px">
        <h4>New card successfully added</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal">Okey</button>
      </div>
    </div>
  </div>
</div>